@model HistoriasClinicas2.Models.Episodio

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Episodio</h4>
    <hr />
    @if (Model != null)
    {
        <form asp-action="Delete">
        @if (User.IsInRole("Medico"))
        {
            <div class="form-group">
                <label asp-for="FechaYHoraAlta" class="control-label"></label>
                <input asp-for="FechaYHoraAlta" class="form-control" />
                
            </div>
        }
            <input type="hidden" asp-for="Id"  value="@ViewBag.IdEpisodio"/>
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </form>
    }

    <a asp-action="Index">Back to List</a>

    </div>
