@model HistoriasClinicas2.Models.HistoriaClinica

@{
    ViewData["Title"] = "Historia";
}

@if (User.IsInRole("Paciente"))
{
    <div class="card card-alert">
        <p>No hay Episodios cargados al @DateTime.Now</p>
    </div>
}
else if (User.IsInRole("Empleado"))
{
    <div class="card card-alert">
        <p>No hay Episodios cargados</p>
    </div>
    <a asp-action="Create" asp-controller="Episodios" asp-route-id="@Model.Id">Añadir Episodios</a>
    <br />
    <div>
        <a asp-controller="Pacientes" asp-action="Index">Volver</a>
    </div>
}
else
{
    <div class="card card-alert">
        <p>No hay Episodios cargados</p>
    </div>
    <br />
    <div>
        <a asp-controller="Pacientes" asp-action="Index">Volver</a>
    </div>
}

