@model HistoriasClinicas.Models.HistoriaClinica

@{
    ViewData["Title"] = "Historia";
}

<h1>Historia Clinica</h1>

<div>
    <h4>Episodios</h4>
    <hr />
    @if (Model.Episodios != null)
    {
        @foreach (var item in Model.Episodios)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Motivo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Motivo)
                </dd>
            </dl>
        }
    }
    else
    {
        <div class="card bg-warning">
            <p class="mx-auto">
                Usted no tiene ningun episodio registrado al dia @DateTime.Now.ToString("d/M/yyyy")
            </p>
        </div>
    }

</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
