@{
    ViewData["Title"] = "About";
}
<h1>Acerca de Nosotros</h1>

<div id="inner_contenido">
    <div>
        <span class=font-weight-bold>
            Hace más de 48 años, un grupo de personas se propuso crear un servicio de salud diferente. Una empresa que privilegiara las necesidades de los socios y su libertad de elección.<br>
            <br>
            Con esa firme convicción nació MEDICORT, un grupo empresario argentino que actualmente refleja esa filosofía en la gestión y el enfoque de cada una de sus empresas.
        </span><br>
        <br>
        <h2>Nuestra historia</h1>
            <br>
            <span class=font-weight-bold>MEDICORT </span>comenzó a desarrollar sus actividades a principios de los setenta, ofreciendo a través del sistema nacional de obras sociales una eficaz cobertura médica para el personal jerárquico de compañías, profesionales independientes y empresarios autónomos.<br>
            <br>
            La respuesta eficiente y la permanente búsqueda de satisfacer las necesidades de cada socio le valieron el reconocimiento que, a sólo cinco años de sus comienzos, consolidó su liderazgo en servicios de salud. Un liderazgo que hoy, después de años de crecimiento en diferentes contextos del país y del mercado, se mantiene firme.<br>
            <br>
