@model HistoriasClinicas.Models.Paciente

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar Paciente</h1>

<h3>Estas seguro de eliminar al paciente @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)?</h3>
<div> 
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a lista de pacientes</a>
    </form>
</div>
